@charset "utf-8";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    font-family: 'Microsoft YaHei', Arial, 'Times New Roman', SimHei
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    color: #0b0b0b;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body,
html {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

code,
input,
kbd,
pre,
samp,
textarea {
    font-size: 100%;
    background: 0 0;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button,
input,
select,
textarea {
    border: none;
    border: medium;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
}

body,
button,
input,
select,
textarea {
    font-family: 'Microsoft YaHei', Arial, 'Times New Roman', SimHei;
}

ol,
ul {
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
    outline: 0;
    color: #333;
}

a:focus {
    outline: 0;
}

a:hover {
    -webkit-user-select: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

img {
    width: 100%;
    border: none;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix::before,
.clearfix::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.pr {
    position: relative;
}

cite,
em,
i {
    font-style: normal;
}

.clearfix {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
    float: none;
    line-height: 0;
    height: 0;
}

@media screen and (min-width:240px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 9px;
    }
}

@media screen and (min-width:320px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 11px;
    }
}

@media screen and (min-width:370px) and (max-width:420px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 12px;
    }
}

@media screen and (min-width:450px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 17px;
    }
}

@media screen and (min-width:480px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 18px;
    }
}

@media screen and (min-width:540px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 20.25px;
    }
}

@media screen and (min-width:600px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 22px;
    }
}

@media screen and (min-width:640px) {
    body,
    button,
    html,
    input,
    select,
    textarea {
        font-size: 24px;
    }
}

.top_mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.flex-mask {
    width: 6.4rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-1 {
    -webkit-box-flex: 1.0;
    -webkit-flex: 1.0;
    -ms-flex: 1.0;
    flex: 1;
    width: 0;
}


/* 设置placeholder颜色 */

::-webkit-input-placeholder {
    color: #bbb;
}

:-moz-placeholder {
    color: #bbb;
}


/* Firefox版本4-18 */

::-moz-placeholder {
    color: #bbb;
}


/* Firefox版本19+ */

:-ms-input-placeholder {
    color: #bbb;
}

.clear{clear:both;}
.clearleft{float:left;display: inline;}
.clearright{float:right;display: inline;}
.hide{display: none!important;}
